@model IEnumerable<HelpDesk.Models.VistaParcial.ViewTiket>

@{
    ViewData["Title"] = "Tikets";
}

<h3 class="text-center">Ticket Numero @ViewBag.NoTiket </h3>
<hr />


@foreach (var item in Model)
{
    <label>Fecha:    @Html.DisplayFor(modelItem => item.FechadeTiket)</label>
    <div><label> Extención: @Html.DisplayFor(modelItem => item.TelExt)</label></div>
    <div class="card">
        <div class="card-header text-center">
            <label class="text-center h5"> @item.Asunto</label>

        </div>
        <div class="card-body">

            @item.Descripcion
        </div>

        <div class="form-control text-center">
            <label>Nivel de Urgencia: @Html.DisplayFor(modelItem => item.nivUrgencia) </label>
            <label>Estado: @Html.DisplayFor(modelItem => item.Estado)</label>
        </div>
    </div>
}


