@model IEnumerable<HelpDesk.Models.Tiket>

@{
    ViewData["Title"] = "Tikets";
}

<h1 class="text-center">Estos son Sus Tikets</h1>
<hr />


<br />
<table class="table table-bordered table-hover">
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Usu_Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ar_Pro_Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Urg_Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Est_Id)
                </td>
   

            </tr>
            <div class="card">
                <div class="card-header">
                    @item.Tk_Asu
                </div>
                <div class="card-body">
                    @item.Tk_Desc
                </div>
                <div class="card-body">
                    @Html.DisplayFor(modelItem => item.Tk_FchAlt)
                    @Html.DisplayFor(modelItem => item.Tk_TelCom)
                </div>
            </div>
        }
    </tbody>
</table>


